In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.25.3'

In [3]:
rickAndMorty = pd.DataFrame(
{
    "nombre":["Rick", "Morty"],
    "apellido":["Sanchez", "Smith"],
    "edad":[60,14]
})
rickAndMorty

  nombre apellido  edad
0   Rick  Sanchez    60
1  Morty    Smith    14

In [4]:
rickAndMorty=pd.DataFrame(
[["Rick", "Sanchez",60],
["Morty","Smith",14]],
columns=["nombre","apellidos", "edad"])
rickAndMorty

  nombre apellidos  edad
0   Rick   Sanchez    60
1  Morty     Smith    14

In [5]:
type(rickAndMorty)

pandas.core.frame.DataFrame

In [6]:
!head -n 5 ./primary_results.csv

state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.8
Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.32899999999999996
Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647

In [7]:
votos = pd.read_csv("./primary_results.csv")
votos

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078
...,...,...,...,...,...,...,...,...
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.000
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.000
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.000
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.000
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.000

In [8]:
type(votos)

pandas.core.frame.DataFrame

In [9]:
df=votos

In [10]:
df

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078
...,...,...,...,...,...,...,...,...
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.000
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.000
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.000
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.000
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.000

In [11]:
### Convertir a csv
df.to_csv("test.csv")

In [12]:
### copia desde el portapapeles
#df=pd.read_clipboard()

In [13]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [14]:
### muestra las primeras filas
df.head(6)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078
5,Alabama,AL,Barbour,1005.0,Democrat,Hillary Clinton,2567,0.906

In [15]:
### muestra las ultimas filas
df.tail(5)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.0
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.0
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.0
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.0
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.0

In [16]:
df.dtypes

state                  object
state_abbreviation     object
county                 object
fips                  float64
party                  object
candidate              object
votes                   int64
fraction_votes        float64
dtype: object

In [17]:
df.describe()

               fips          votes  fraction_votes
count  2.451100e+04   24611.000000    24611.000000
mean   2.667152e+07    2306.252773        0.304524
std    4.200978e+07    9861.183572        0.231401
min    1.001000e+03       0.000000        0.000000
25%    2.109100e+04      68.000000        0.094000
50%    4.208100e+04     358.000000        0.273000
75%    9.090012e+07    1375.000000        0.479000
max    9.560004e+07  590502.000000        1.000000

In [18]:
df.index

RangeIndex(start=0, stop=24611, step=1)

In [19]:
#valor de los indices
df.loc[1]

state                         Alabama
state_abbreviation                 AL
county                        Autauga
fips                             1001
party                        Democrat
candidate             Hillary Clinton
votes                            2387
fraction_votes                    0.8
Name: 1, dtype: object

In [20]:
### Cambiar indices
df2 = df.set_index("county")
df2

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Autauga,Alabama,AL,1001.0,Democrat,Bernie Sanders,544,0.182
Autauga,Alabama,AL,1001.0,Democrat,Hillary Clinton,2387,0.800
Baldwin,Alabama,AL,1003.0,Democrat,Bernie Sanders,2694,0.329
Baldwin,Alabama,AL,1003.0,Democrat,Hillary Clinton,5290,0.647
Barbour,Alabama,AL,1005.0,Democrat,Bernie Sanders,222,0.078
...,...,...,...,...,...,...,...
Teton-Sublette,Wyoming,WY,95600028.0,Republican,Ted Cruz,0,0.000
Uinta-Lincoln,Wyoming,WY,95600027.0,Republican,Donald Trump,0,0.000
Uinta-Lincoln,Wyoming,WY,95600027.0,Republican,John Kasich,0,0.000
Uinta-Lincoln,Wyoming,WY,95600027.0,Republican,Marco Rubio,0,0.000
Uinta-Lincoln,Wyoming,WY,95600027.0,Republican,Ted Cruz,53,1.000

In [21]:
df2.loc["Autauga"]

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Autauga,Alabama,AL,1001.0,Democrat,Bernie Sanders,544,0.182
Autauga,Alabama,AL,1001.0,Democrat,Hillary Clinton,2387,0.800
Autauga,Alabama,AL,1001.0,Republican,Ben Carson,1764,0.146
Autauga,Alabama,AL,1001.0,Republican,Donald Trump,5387,0.445
Autauga,Alabama,AL,1001.0,Republican,John Kasich,421,0.035
Autauga,Alabama,AL,1001.0,Republican,Marco Rubio,1785,0.148
Autauga,Alabama,AL,1001.0,Republican,Ted Cruz,2482,0.205

In [22]:
### devuelve el segundo elemento, del data frame. aunque el index son string
df2.iloc[1]

state                         Alabama
state_abbreviation                 AL
fips                             1001
party                        Democrat
candidate             Hillary Clinton
votes                            2387
fraction_votes                    0.8
Name: Autauga, dtype: object

In [23]:
#formas de acceder  a las columnas normal
df["state"]

0        Alabama
1        Alabama
2        Alabama
3        Alabama
4        Alabama
          ...
24606    Wyoming
24607    Wyoming
24608    Wyoming
24609    Wyoming
24610    Wyoming
Name: state, Length: 24611, dtype: object

In [24]:
### formas de acceder  a las columnas al estilo clases 
df.state

0        Alabama
1        Alabama
2        Alabama
3        Alabama
4        Alabama
          ...
24606    Wyoming
24607    Wyoming
24608    Wyoming
24609    Wyoming
24610    Wyoming
Name: state, Length: 24611, dtype: object

In [25]:
### *este metodo no funciona correctamente si la columna coincide con un nombre reservado
df["shape"]=1
df

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,1
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,1
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,1
...,...,...,...,...,...,...,...,...,...
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.000,1
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.000,1
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.000,1
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.000,1
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.000,1

In [26]:
df.shape

(24611, 9)

In [27]:
type(df.state)

pandas.core.series.Series

In [28]:
type(df[["state","county"]])

pandas.core.frame.DataFrame

In [29]:
df[df.votes>=590502]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.57,1

In [30]:
###filtrado
df[(df.county=="Manhattan")&(df.party=="Democrat")]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337,1
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663,1

In [31]:
###filtrado query
county = "Manhattan"
df.query("county==@county and party=='Democrat'")

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337,1
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663,1

In [32]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,1
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,1
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,1

In [33]:
df.sort_values(by="votes",ascending=False)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570,1
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420,1
4451,Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536,1
4450,Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454,1
4463,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Hillary Clinton,249217,0.536,1
...,...,...,...,...,...,...,...,...,...
8476,Maine,ME,Greenbush,92300181.0,Democrat,Hillary Clinton,0,0.000,1
8474,Maine,ME,Great Pond,92300180.0,Democrat,Hillary Clinton,0,0.000,1
8473,Maine,ME,Great Pond,92300180.0,Democrat,Bernie Sanders,0,0.000,1
9637,Massachusetts,MA,Holland,92500135.0,Democrat,No Preference,0,0.000,1
8290,Maine,ME,Castle Hill,92300087.0,Democrat,Hillary Clinton,0,0.000,1

In [34]:
### agrupar
df.groupby("state").votes.sum()

state
Alabama           1223959
Alaska              22469
Arizona            834200
Arkansas           605971
California        4938197
Colorado           121184
Connecticut        531302
Delaware           160416
Florida           3940929
Georgia           2032941
Hawaii              46886
Idaho              238989
Illinois          3372537
Indiana           1719291
Iowa               326704
Kansas             111296
Kentucky           648885
Louisiana          585781
Maine                3415
Maryland          1233272
Massachusetts     1813320
Michigan          2431111
Mississippi        614200
Missouri          1531672
Montana            257516
Nebraska           213691
Nevada              86815
New Hampshire      525966
New Jersey        1321220
New Mexico         309532
New York          2686539
North Carolina    2185747
North Dakota          354
Ohio              3204172
Oklahoma           766123
Oregon             933975
Pennsylvania      3176340
Rhode Island       179594
South Carolina    1105408
South Dakota       119881
Tennessee         1200576
Texas             4147889
Utah               254203
Vermont            192960
Virginia          1791672
Washington         537150
West Virginia      398352
Wisconsin         2073402
Wyoming              1183
Name: votes, dtype: int64

In [35]:
df.groupby(["state","party"]).votes.sum()

state          party
Alabama        Democrat       386327
               Republican     837632
Alaska         Democrat          539
               Republican      21930
Arizona        Democrat       399097
                              ...
West Virginia  Republican     188138
Wisconsin      Democrat      1000703
               Republican    1072699
Wyoming        Democrat          280
               Republican        903
Name: votes, Length: 95, dtype: int64

In [36]:
### asignar nuevas columnas y usar una funcion
df["letra_state"] = df.state.apply(lambda s:s[0])

In [37]:
df_pobreza = pd.read_csv("PovertyEstimates.csv")
df_pobreza.head()

   FIPStxt  PCTPOVALL_2015
0        0            14.7
1     1000            18.5
2     1001            12.7
3     1003            12.9
4     1005            32.0

In [38]:
### merge de dataFrame donde left_on es la referencia y right_on es el valor a referencial
df_merged = df.merge(df_pobreza,left_on="fips",right_on="FIPStxt")
#df
df_merged

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape,letra_state,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,A,1001,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,A,1001,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,1,A,1001,12.7
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,1,A,1001,12.7
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,1,A,1001,12.7
...,...,...,...,...,...,...,...,...,...,...,...,...
17469,Wyoming,WY,Uinta,56041.0,Democrat,Hillary Clinton,4,0.444,1,W,56041,9.8
17470,Wyoming,WY,Washakie,56043.0,Democrat,Bernie Sanders,1,0.333,1,W,56043,11.2
17471,Wyoming,WY,Washakie,56043.0,Democrat,Hillary Clinton,2,0.667,1,W,56043,11.2
17472,Wyoming,WY,Weston,56045.0,Democrat,Bernie Sanders,1,0.500,1,W,56045,9.8
17473,Wyoming,WY,Weston,56045.0,Democrat,Hillary Clinton,1,0.500,1,W,56045,9.8

In [39]:
import sys
#!conda install --prefix {sys.prefix} xlwr --yes
df_merged.to_excel("cotosasasas.xls",sheet_name="datos" )